{% embed 'field.html.twig' %}
{% block content %}
{% if multiple %}
<div class="field__items">
{% endif %}
  {%- for item in items -%}
    {% if item.content|render|striptags|trim is not empty %}
      {% set username = item.content["#context"].value %}
      <div{{ item.attributes.addClass(item_classes) }}><a
        href="http://YouTube.com/{{ username }}" target="_blank">YouTube</a></div>
    {% endif %}
  {%- endfor -%}
{% if multiple %}
</div>
{% endif %}
{% endblock %}
{% endembed %}
