<!-- {{ fields.title.label }} -->
<div><h3 class="card-title">{{ fields.title.content }}</h3></div>
<div><strong>{{ fields.created.content }}</strong></div>
<div><p class="card-text">{{ fields.field_summary.content }}</p></div>

