{% if content.field_short_title %}
{% set title = content.field_short_title %}
{% else %}
{% set title = label %}
{% endif %}
{% set rendered_featured_image = content.field_featured_image|render %}

<div class="card border-2 rounded-0 h-100">
  {% if rendered_featured_image|trim %}
    {{ content.field_featured_image }}
  {% else %}
    <div class="featured-image w-100 bg-faded-gray text-center" style="padding:12%;">
      <img src="/themes/custom/westy/assets/images/location-dot-light.svg" class="img-fluid w-25" alt="...">
    </div>
  {% endif %}
  <div class="card-body">
    <h2 class="card-title h5"><a href="{{ url }}" class="stretched-link">{{ title }}</a></h2>
    <div class="card-text">
      {{ content|without('field_short_title','field_featured_image') }}
    </div>
  </div>
</div>
